# Project exclude paths
.vscode/
/.gradle/
/build/
/build/classes/java/main/
*.elc
# paranoia: ignore data files that might contain API tokens
/examples/**/*.yml
/src/test/**/*.yml
.DS_Store
/bin/
/website/build/
/.idea/kotlinc.xml
/.idea/.name
